/*-- scss:defaults --*/
/* Place variables here if you want to override Reveal.js defaults */

$backgroundColor: #afc6c6;
$mainColor: #232828;
$font-family-sans-serif: "Avenir", "Helvetica Neue", sans-serif;

/*-- scss:rules --*/
/* Your custom CSS rules go below this section */

body {
  background-color: #afc6c6;
  font-family: "Avenir", "Helvetica Neue", sans-serif;
}

.cell-output > pre,
.cell-output > div {
  max-height: 300px;
  overflow-y: auto;
}
