body {
  background-color: #afc6c6;
  font-family: "Helvetica Neue", sans-serif;
}

h2, h3 {
  color: #232828;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 1em 0 0.5em 0; /* standard spacing */
}

/* Remove extra spacing around the References section */
div.references,
div.references > h1,
div.references > h2,
div.references ul {
    margin: 0;
    padding: 0;
}

/* References background */
div.references {
    background-color: #afc6c6;
}

/* List items inside References */
div.references li {
    margin: 0;
    padding: 0;
}
