body {
  background-color: #afc6c6;
  font-family: "Helvetica Neue", sans-serif;
}

h2, h3 {
  color: #232828;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 1em 0 0.5em 0; /* standard spacing */
}
